* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
}

#login {
    width: 50%;
    height: 100vh;
}

#banner-sobreposicao {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    background-image: linear-gradient(to bottom, #B993D6 10%, #8CA6DB  90%, #B993D6  100%);
    border-radius: 10px 0px 0px 10px;
    opacity: 70%;
}

#banner {
    width: 50%;
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/354/412/958/fire-man-fireman-hd-wallpaper-preview.jpg");
    background-size: cover;
    height: 100vh;
    background-color: #cccccc;
    background-repeat: no-repeat;
    border-radius: 10px 0px 0px 10px;
}

#titulo-login {
    font-size: 2rem;
    font-weight: 100;
}

#destaque {
    font-weight: 700;
}

#campo-login {
    padding: 6px;
    margin-top: 20px;
    height: 40px;
    width: 250px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to left, #B993D6 10%, #8CA6DB  90%, #B993D6  100%);
}

#btnLogin {
    margin-top: 20px;
    height: 40px;
    min-height: 40px;
    width: 250px;
    border-radius: 10px;
    color: white;
    background-image: linear-gradient(to left, #B993D6 10%, #8CA6DB  90%, #B993D6  100%);
    border: none;
}

#registro {
    margin-top: 20px;
}


::placeholder {
    color: white;
}

@media screen and (max-width: 1199px) {
    #login {
        width: 100%;
        height: 100vh;
    }
}