:root {
    --cor-fundo: #e9e7e7;
    --sobreposicao-banner: linear-gradient(180deg, hsla(0, 80%, 24%, 1) 0%, hsla(0, 0%, 0%, 1) 70%);
    --text-a-branco: white;
    --titulo-login: rgb(32, 31, 31);
    --placeholder-input: white;
    --botao-login: black;
    --texto-registro: black;
}

* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}

#card {
    animation: teste 800ms;
}

#card-registro {
    animation: teste 800ms;
}

@keyframes teste {
    0% {
        position: relative;
        right: -2000px;
        transform: rotate(0.5turn);
    }

    100% {
        position: relative;
        right: 0;
    }
}

@keyframes teste2 {
    0% {
        position: relative;
        left: -2000px;
        transform: rotate(0.5turn);
    }

    100% {
        position: relative;
        left: 0;
    }
}

@keyframes teste3 {
    0% {
        position: relative;
        left: -2000px;
        transform: rotate(0.5turn);
    }

    100% {
        position: relative;
        left: 0;
    }
}


#logo {
    top: 10px;
    position: absolute;
}

#imgBanner {
    width: 800px;
    animation: teste2 800ms;
}

#textInput {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #B0B4B9;
    font-size: 0.9rem;
}

#lembrarDados {
    margin-top: 20px;
    margin-bottom: 20px;
}

#checkboxDados {
    position: relative;
    top: 1px;
    margin-right: 5px;
}

#bgColor {
    background-color: rgb(240, 238, 238);
}

#banner {
    width: 50%;
}

#titulo1 {
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: -1px;
}

#termosCheckbox {
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    border: none;
}

input[type="checkbox"] {
    border: none;
    box-shadow: none;
    font-size: 2em;
}

#login {
    width: 50%;
    border-radius: 30px 0 0 30px;
    height: 100vh;
    background-color: #fff;
}

a:link {
    text-decoration: none;
    background: transparent;
    color: var(--text-a-branco);
}
  
a:visited {
    text-decoration: none;
    background: transparent;
    color: var(--text-a-branco);
}
  
a:hover {
    text-decoration: none;
    background: transparent;
    color: var(--text-a-branco);
}
  
a:active {
    text-decoration: none;
    background: transparent;
    color: var(--text-a-branco);
}

#titulo-login {
    font-size: 2.5rem;
    font-weight: 100;
    color: var(--titulo-login);
    background: transparent;
}

#destaque {
    font-weight: 1000;
    background: transparent;    
}

#campo-login {
    padding: 9px;
    height: 40px;
    width: 100%;
    border: 1px solid #B0B8C5;
    border-radius: 5px;
    color: #B0B8C5;
}

input:focus {
    border: 3px solid red;
}

#btnLogin {
    height: 40px;
    min-height: 40px;
    width: 100%;
    border-radius: 5px;
    color: white;  
    background: rgba(212, 35, 35, 0.801);
    border: none;
}

#btnRegistro {
    margin-top: 20px;
    height: 40px;
    min-height: 40px;
    width: 200px;
    color: white;  
    background: rgba(212, 35, 35, 0.801);
    border: none;
}

#registro {
    margin-top: 5px;
    color: var(--texto-registro);
    background: transparent;
}


::placeholder {
    position: relative;
    top: -2px;
    color: #999999;
    border: none;
    font-size: 0.8rem;
    border: none;
}

#termos {
    margin-top: 5px;
}

#termos-de-uso {
    font-weight: 700;
}

#exampleModal {
    z-index: 99999;
}

@media screen and (max-width: 1199px) {
    #login {
        width: 100%;
        height: 100vh;
    }
}