@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --cor-fundo: #e0dede; /** #E2D9D9; **/
    --fundo-elementos: #FFFFFF;
    --fundo-botoes: rgba(244, 52, 52, 0.69);
    --cor-texto-branco: #fff;
    --cor-texto-preto: black;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 0;
}

a:link {
    text-decoration: none;
    color: white;
}
  
a:visited {
    text-decoration: none;
    color: white;
}
  
a:hover {
    text-decoration: none;
    color: white;
}
  
a:active {
    text-decoration: none;
    color: white;
}

html {
    background-color: var(--cor-fundo);
}

.container-fluid {
    background-color: var(--cor-fundo);
}

/* ------------------------------------------ */


/* SideBar                                    */


/* ------------------------------------------ */

#div-sidebar {
    position: relative;
}

#div-sidebar #sidebar-menu {
    margin-top: 21px;
    margin-left: 15px;
    width: 300px;
    max-width: 70px;
    height: 95%;
    min-height: 500px;
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    border-radius: 10px     ;
    transition: calc(600ms);
    z-index: 9999;
    box-shadow: -5px 10px #e52d27;
    animation: load 360ms ease-out;
}

#div-sidebar #sidebar-menu #menu-sidebar {
    list-style: none;
}

#div-sidebar #sidebar-menu #menu-icon {
    margin-top: 36px;
    width: 36px;
    height: 36px;
    transition: calc(600ms);
    color: #fff;
}

#div-sidebar #sidebar-menu #menu-icon:hover {
    transform: rotate(360deg);
    cursor: pointer;
    border-radius: 10px;
}

#menu-sidebar li {
    position: relative;
    margin-top: 40px;
    width: 36px;
    height: 36px;
    transition: calc(600ms);
    color: #fff;
}

ul li:hover {
    transform: rotate(360deg);
    cursor: pointer;
    border-radius: 10px;
    color: white;
}

/* ------------------------------------------ */


/* Dasboard -> Cards topo                     */


/* ------------------------------------------ */

#cards-topo {
    position: relative;
    display: flex;
    width: 100%;
    height: 150px;
    margin-top: 20px;
    animation: loadTop 360ms ease-out;
}

#cards-topo #card {
    width: 48.5%;
    height: 100%;
    background-color: var(--fundo-elementos);
    border-radius: 10px;
    transition: calc(690ms);
    padding-bottom: 10px;
    border-bottom: 2px solid #b31217;
}

#cards-topo #card:hover {
    transform: translateX(1px) rotate(2deg) translateY(1px);
}



#cards-topo #separator {
    width: 3%;
    height: 100%;
    background-color: transparent;
}

#titulo-card {
    margin: 20px 0px 0px 40px;
    font-size: 1.9rem;
    font-weight: 700;
    top: 10px;
    left: 30px;
    color: var(--cor-icones);
}

#texto-card {
    margin: 12px 0px 0px 40px;    
    font-size: 1.3rem;
    font-weight: 100;
    top: 10px;
    left: 30px;
    color: var(--cor-texto-preto);
}

/* ------------------------------------------ */


/* Dashboard - Lista de Provas                */


/* ------------------------------------------ */

#provas-anteriores {
    margin-top: 15px;
    border-radius: 10px;
    width: 100%;
    height: auto; /** 71.3vh **/
    padding-bottom: 20px;
    background-color: var(--fundo-elementos);
    color: var(--cor-icones);
    transition: calc(690ms);
    animation: loadBottom 2000ms ease-in;
}

#provas-anteriores:hover {
    transform: scale(1.0, 1);
}

#provas-anteriores #provas-disponiveis #prova {
    list-style: none;
    margin-top: 15px;
    width: 97%;
    height: 40px;
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    transition: calc(360ms);
}

#provas-anteriores #provas-disponiveis #prova:hover {
    background-color: rgba(244, 52, 52);
    transform: translate3d(5px, 20%, 1em)
}

#provas-anteriores #provas-disponiveis #prova #texto-prova {
    position: relative;
    top: 7px;
    padding: 30px;
    color: var(--cor-texto-branco);
}

#icone-provas {
    width: 36px;
    height: 36px;
}

#titulo-prova {
    padding: 6px;
    font-weight: 700;
    margin: 25px 0 0 30px;
}

/* ------------------------------------------ */


/* Dashboard -> Ranking                       */


/* ------------------------------------------ */

#ranking {
    margin-top: 20px;
    position: fixed;
    width: 280px;
    height: auto;
    padding-bottom: 20px;  
    border-radius: 10px;
    background-color: var(--fundo-elementos);
    flex-wrap: wrap;
    transition: calc(600ms);
    animation: loadTop 2000ms ease-out;
}

#ranking-div {
    padding-bottom: 3px;
    border-bottom: 1px solid #b31217;
}

#titulo {
    margin-top: 10px;
    margin-left: 30px;
    font-weight: 700;
    color: var(--cor-icones);
}

#ranking #ranking-pessoas {
    list-style: none;
}

#ranking #ranking-pessoas li {
    font-size: 1.1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--cor-texto-preto);
}

#ranking #pessoaimg {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    border-radius: 10px;
    object-fit: cover;
    border: 0;
}

#ranking #pontos-ranking {
    font-weight: 400;
    font-size: 1.2rem;
    margin-left: 4px;
}

/* ------------------------------------------ */


/* Media Querie                               */


/* ------------------------------------------ */

@keyframes load{
    0% {
        transform: translateX(-1200px);
        opacity: 0%;
    }

    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

@keyframes loadTop{
    0% {
        transform: translateY(-1200px);
        opacity: 0%;
    }

    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes loadBottom{
    0% {
        transform: translateY(1200px);
        opacity: 0%;
    }

    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}


@media screen and (max-width: 1280px) {
    #provas-anteriores #provas-disponiveis #prova {
      width: calc(97% - 1%);
    }

    html {
        overflow-x: hidden;
    }
  
    #titulo-card {
        font-size: 1.5rem;
    }

    #texto-card {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 843px) {
    #provas-anteriores #provas-disponiveis #prova {
      width: calc(97% - 1.5%);
    }

    #titulo-card {
        margin: 20px 0 0 40px;
        font-size: 1.5rem;
    }

    #texto-card {
        margin: 10px 0 0 40px;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 582px) {
    #provas-anteriores #provas-disponiveis #prova {
      width: calc(97% - 4%);
    }

    #titulo-card {
        margin: 20px 0 0 40px;
        font-size: 1.2rem;
    }

    #texto-card {
        margin: 10px 0 0 40px;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 400px) {
    #provas-anteriores #provas-disponiveis #prova {
      width: calc(97% - 5%);
    }

    #titulo-card {
        margin: 20px 0 0 20px;
        font-size: 1.2rem;
    }

    #texto-card {
        margin: 10px 0 0 20px;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 358px) {
    #provas-anteriores #provas-disponiveis #prova {
      width: calc(97% - 8%);
    }

    #titulo-card {
        margin: 20px 0 0 15px;
        font-size: 1.1rem;
    }

    #texto-card {
        margin: 10px 0 0 15px;
        font-size: 1rem;
    }
}
