* {
    padding: 0;
    margin: 0;
}

.container-fluid {
    background-color: #201f1f;;
}

html {
    background-color: #201f1f;;
}

#container-menu {
    margin-top: 30px;
    width: auto;
    padding-right: 30px;
    height: 60px;
    border-radius: 6px;
    background-color: #fff;
}

li {
    margin-top: 12px;
    list-style-type: none;
}

#icon {
    width: 32px;
    height: 32px;
    margin-left: 15px;
}

#container-add {
    margin-top: -10vh;
}

#input-admin {
    margin-top: 20px;
    width: 350px;
    height: 30px;
    padding-left: 6px;
}

#btn {
    background-color: #DB200F;
    color: white;
    margin-top: 20px;
    width: 350px;
    height: 30px;
    border: none;
}