#provas-anteriores {
    padding-top: 1px;
    font-weight: 700;
}

#titulo-prova {
    margin-bottom: 30px;
}

ul {
    list-style: none;
}

li {
    margin-right: 4px;
}

#btn {
    margin-top: 15px;
    width: 46px;
    height: 46px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #B993D6 10%, #8CA6DB  90%, #B993D6  100%);
    border: none;
}

#text {
    padding: 6px;
}

#titulo-prova {
    font-weight: 100;
}